.location-bar {
    padding: 20px 5%;
    text-align: left;
    font-family: 'Rubik', sans-serif;
    color: rgb(124, 119, 119);
  }
  
  .location-bar .home-text {
    color: #e1ad01; /* Mustard color */
    font-weight: 500;
  }
  